@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor-principal:  rgb(243, 247, 244);
    --cor-destaque: rgb(55, 172, 99);
    --cor-texto: rgb(0, 0, 0);
    --cor-texto-destaque: rgb(46, 46, 46);
    --card: rgb(255, 255, 255);
}

p{
    color: var(--cor-texto-destaque);
    margin: 10px;
}



body{
    background-color: var(--cor-principal);
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    grid-template-columns: 20px 1fr 20px;
    margin: 0;
    line-height: 1.5em;
}

header{
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    background-color: var(--cor-destaque);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    display: flex;
    grid-row: 2 / -2;
    grid-column: 2 / -2;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.473);
    text-align: center;
    width: 40%;
    height: 50%;
    padding: 30px;
    border-radius: 8px;
    min-height: fit-content;
}

.enviar {
    background-color: rgb(55, 172, 99); 
    color: white;
    width: 85%;
    padding: 1%; 
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
.enviar:hover {
    background-color: rgb(48, 129, 250);
    transition: 0.3s ease;
}

input{
    padding: 5px;
    width: 85%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2)  ;
    border: none;
    border-radius: 6px;
}

.container .material-symbols-outlined{
    font-size: 100px;
    display: block;
    margin: auto;
    color: var(--cor-destaque);
}

footer{
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}

@media screen and (max-width: 729px) {
    .container {
        width: 80%;
        height: auto;
    }
    
}   